{% extends 'base.html' %}

{% block app_content %}
<div class="container">

	<div class="row pt-3">
		<div class="col-12">
			<h1 class="text-center">Вход</h1>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-sm-12 col-md-4">
			<form action="" method="post">
				{{ form.hidden_tag() }}
			
				{% for field in form if field.name not in ['csrf_token', 'remember_me', 'submit'] %}
			
				<div class="mb-3">
					{{ field.label(class="form-label") }}<br>
					{{ field(class='form-control') }}<br>
			
					{% for error in field.errors %}
					<span style="color: red;">{{ error }}</span>
					{% endfor %}
				</div>
				{% endfor %}
			
				<div class="mb-3 form-check form-switch">
					{{ form.remember_me(class="form-check-input") }}{{ form.remember_me.label(class="form-check-label") }}
				</div>
			
				<div class="text-center mb-3">{{ form.submit(class="btn btn-primary") }}</div>
			</form>

			<small>
				Новый пользователь? <a href="{{ url_for('auth.register') }}">Зарегистрироваться</a><br>
				Забыли пароль? <a href="{{ url_for('auth.reset_password_request') }}">Сбросить пароль</a>
			</small>
		</div>
	</div>
</div>

{% endblock app_content %}