{% extends 'base.html' %}

{% block app_content %}

<section>
	<div class="form-box">
		<div class="form-value">
			<form action="" method="post">
				{{ form.hidden_tag() }}

				<h2>Вход</h2>

				<div class="inputbox">
					<i class="bi bi-person"></i>
					{{ form.username() }}
					{{ form.username.label }}
				</div>
				<div class="inputbox">
					<i class="bi bi-lock"></i>
					{{ form.password() }}
					{{ form.password.label }}
				</div>
				<div class="remeber form-check form-switch">
					{{ form.remember_me(class="form-check-input") }}{{ form.remember_me.label }}
				</div>
				<p class="text-center">{{ form.submit(class="btn btn-outline-warning") }}</p>
				<div class="register">
					<p>Забыли пароль? <a href="{{ url_for('auth.reset_password_request') }}">Нажмите, чтобы сбросить</a></p>
					<p>Нет аккаунта? <a href="{{ url_for('auth.register') }}">Зарегистрироваться</a></p>
				</div>
			</form>
		</div>
	</div>
</section>

{% endblock app_content %}