{% extends 'base.html' %}

{% block app_content %}

<section>
	<div class="form-box">
		<div class="form-value">

			<form action="" method="post">
				{{ form.hidden_tag() }}

				<h2>Новый пароль</h2>
				<!-- Password -->
				<div class="inputbox">
					<i class="bi bi-lock"></i>
					{{ form.password() }}
					{{ form.password.label }}
				</div>

				{% for error in form.password.errors %}
					<span style="color: red;">{{ error }}</span>
				{% endfor %}
				<!-- Password2 -->
				<div class="inputbox">
					<i class="bi bi-lock"></i>
					{{ form.password2() }}
					{{ form.password2.label }}
				</div>
				{% for error in form.password2.errors %}
					<span class="error">{{ error }}</span>
				{% endfor %}
				<!-- Submit -->
				<p class="text-center">{{ form.submit(class="btn btn-outline-warning") }}</p>
			</form>
		</div>
	</div>
</section>

{% endblock app_content %}