{% extends 'base.html' %}

{% block app_content %}

<section>
	<div class="form-box">
		<div class="form-value">
			<form action="" method="post">
				{{ form.hidden_tag() }}

				<h2>Сброс пароля</h2>

				<div class="inputbox">
					<i class="bi bi-envelope"></i>
					{{ form.email() }}
					{{ form.email.label }}
				</div>
				{% for error in form.email.errors %}
					<span class="error">{{ error }}</span>
				{% endfor %}

				<p class="text-center">{{ form.submit(class="btn btn-outline-warning") }}</p>
			</form>
		</div>
	</div>
</section>

{% endblock app_content %}