body {
	background-color: black;
}

ul {
	list-style: none;
}

h1,
h2,
i {
	color: var(--bs-warning);
}

h4,
p,
hr {
	color: white;
}

/* Выбор времени */
.calendar_time {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	margin-bottom: 20px;
}

/* Сообщения об ошибке в формах */
.error {
	display: block;
	margin-top: -30px;
	color: red;
	text-align: center;
}

/* Ссылки в nav панели */
a.nav-link {
	color: black;
	font-weight: 500;
}