{% extends 'base.html' %}

{% block navbar %}{% endblock navbar %}

{% block app_content %}

<section>
	<div class="form-box">
		<div class="form-value">
			<form action="" method="post" id="form">
				{{ form.hidden_tag() }}

				<h2 class="mb-4">Подтверждение</h2>
				<h4 class="text-sm-start">{{ service.title }}</h4>
				<p class="text-start border-bottom border-2">
					<i class="bi bi-clock"></i> {{ moment(time).format('DD.MM в HH:mm') }}
					({{ service.str_duration }}) <i class="bi bi-wallet2"></i> {{
					service.price }} грн.
				</p>
				<!-- Name -->
				<div class="inputbox">
					<i class="bi bi-person"></i>
					{{ form.name() }} {{ form.name.label }}
				</div>

				{% for error in form.name.errors %}
				<span class="error">{{ error }}</span>
				{% endfor %}
				<!-- Phone -->
				<div class="inputbox">
					<i class="bi bi-phone"></i>
					{{ form.phone() }} {{ form.phone.label }}
				</div>
				{% for error in form.phone.errors %}
				<span class="error">{{ error }}</span>
				{% endfor %}
				<!-- Submit -->
				<p class="text-center">
					{{ form.submit(class="btn btn-outline-warning") }}
				</p>
			</form>
		</div>
	</div>
</section>

{% endblock app_content %}

{% block scripts %}
{{ super() }}

<script src="{{ url_for('static', filename='js/mask.js') }}"></script>
<script src="{{ url_for('static', filename='js/form-validate.js') }}"></script>

{% endblock scripts %}