{% extends 'base.html' %}

{% block navbar %}{% endblock navbar %}

{% block app_content %}

<div class="container">

    <div class="row justify-content-center text-center">
        <div class="col-sm-12 col-lg-5">
            <form action="" method="post" name="main">
                <h2 class="my-3">Выберите услугу</h2>

                {{ form.hidden_tag() }}
                <ul>
                    {% for subfield in form.radio %}
                    <li class="mb-1">
                        {{ subfield(class="btn-check", autocomplete="off",
                        onclick="document.querySelector('#submit').disabled=false") }}
                        <label for="radio-{{ loop.index-1 }}" class="btn btn-outline-dark w-100 text-start p-3">
                            <div class="label_content">
                                <h4>{{ subfield.label.text.title }}</h4>
                                {% if subfield.label.text.description %}
                                <p>{{ subfield.label.text.description }}</p>
                                {% endif %}
                                <p>
                                    <i class="bi bi-clock"></i> {{ subfield.label.text.duration }} <i
                                        class="bi bi-wallet2"></i> {{ subfield.label.text.price }} грн.
                                </p>
                            </div>
                        </label>
                    </li>

                    {% endfor %}
                </ul>
                <p>{{ form.submit(class="btn btn-outline-warning") }}</p>

            </form>
        </div>
    </div>

</div>
{% endblock app_content %}

{% block scripts %}
{{ super() }}

<script>
	document.querySelector('#submit').disabled = true;
</script>

{% endblock scripts %}