{% extends 'base.html' %}

{% block navbar %}{% endblock navbar %}

{% block app_content %}

<section>
	<div class="form-box">
		<div class="form-value">

			<form action="" method="post">
				{{ form.hidden_tag() }}

				<h2>Выберите дату<br>и время</h2>
				<!-- Date -->
				<div class="inputbox">
					<i class="bi bi-calendar"></i>
					<input type="text" id="datepicker" data-amount_of_days="{{ amount_of_days }}"
						data-url="{{ url_for('.getting_time') }}" placeholder="Нажмите, чтобы выбрать дату">
				</div>
				<!-- Time -->
				<p id="statusTime" class="text-center"></p>
				<div id="listTime" class="calendar_time"></div>
				<!-- Submit -->
				<p class="text-center">{{ form.submit(class="btn btn-outline-warning my-button") }}</p>
			</form>
		</div>
	</div>
</section>

{% endblock app_content %}

{% block scripts %}
{{ super() }}

<script src="{{ url_for('static', filename='js/create-time-list.js') }}"></script>
{% endblock scripts %}