{% extends 'base.html' %}

{% block app_content %}

<section>
	<div class="form-box">
		<div class="form-value">

			<form action="" method="post">
				{{ form.hidden_tag() }}

				<h2>Создание выходных</h2>
				<!-- Weekends -->
				<div class="inputbox">
					<i class="bi bi-calendar"></i>
					{{ form.weekends(placeholder="Нажмите, чтобы выбрать выходные") }}
					{{ form.weekends.label(class='time') }}
				</div>

				{% for error in form.weekends.errors %}
				<span class="error">{{ error }}</span>
				{% endfor %}
				<!-- Submit -->
				<p class="text-center">{{ form.submit(class="btn btn-outline-warning") }}</p>
			</form>
		</div>
	</div>
</section>

{% endblock app_content %}

{% block scripts %}
{{ super() }}

<script>
	new AirDatepicker('#datepicker', {
		startDate: new Date(),
		isMobile: true,
		autoClose: true,
		multipleDates: true,
		dateFormat: 'yyyy-MM-dd',
		buttons: ['clear']
	});
</script>

{% endblock scripts %}