{% extends 'base.html' %}

{% block app_content %}

<section>
	<div class="form-box">
		<div class="form-value">

			<form action="" method="post" name="main">
				{{ form.hidden_tag() }}

				<h2>Создание записи</h2>
				<!-- Service -->
				<div class="inputbox">
					{{ form.service_id(class="form-select bg-black text-light border-0") }}
				</div>
				<!-- Timestamp -->
				<div class="inputbox">
					<i class="bi bi-calendar"></i>
					{{ form.timestamp(placeholder="Нажмите, чтобы выбрать время") }}
					{{ form.timestamp.label(class='time') }}
				</div>

				{% for error in form.timestamp.errors %}
				<span class="error">{{ error }}</span>
				{% endfor %}
				<!-- Name -->
				<div class="inputbox">
					<i class="bi bi-person"></i>
					{{ form.name() }}
					{{ form.name.label }}
				</div>

				{% for error in form.name.errors %}
				<span class="error">{{ error }}</span>
				{% endfor %}
				<!-- Phone -->
				<div class="inputbox">
					<i class="bi bi-phone"></i>
					{{ form.phone() }}
					{{ form.phone.label }}
				</div>
				{% for error in form.phone.errors %}
				<span class="error">{{ error }}</span>
				{% endfor %}
				<!-- Submit -->
				<p class="text-center">{{ form.submit(class="btn btn-outline-warning") }}</p>
			</form>
		</div>
	</div>
</section>

{% endblock app_content %}

{% block scripts %}
{{ super() }}

<script>
	new AirDatepicker('#datepicker', {
		startDate: new Date(),
		isMobile: true,
		timepicker: true,
		minutesStep: 15,
		dateFormat: 'yyyy-MM-dd',
		buttons: ['today']
	});
	const mainForm = document.forms.main
	const mainFormTime = mainForm.timestamp

	mainForm.addEventListener("submit", function (event) {
		mainFormTime.value = moment(mainFormTime.value).utc().format();
	})
</script>

{% endblock scripts %}