{% extends 'base.html' %}

{% block app_content %}

<section>
	<div class="form-box">
		<div class="form-value">

			<form action="" method="post">
				{{ form.hidden_tag() }}

				<h2>Редактирование<br>настроек</h2>
				
				<!-- Email -->
				<div class=" inputbox">
					<i class="bi bi-envelope"></i>
					{{ form.email() }}
					{{ form.email.label }}
				</div>

				{% for error in form.email.errors %}
					<span class="error">{{ error }}</span>
				{% endfor %}
				<!-- Begin of the day -->
				<div class="inputbox">
					{{ form.begin_of_the_day() }}
					{{ form.begin_of_the_day.label(class="time") }}
				</div>
				<!-- End of the day -->
				<div class="inputbox">
					{{ form.end_of_the_day() }}
					{{ form.end_of_the_day.label(class="time") }}
				</div>
				<!-- Amount of days -->
				<div class="inputbox">
					<i class="bi bi-calendar2-check"></i>
					{{ form.amount_of_days() }}
					{{ form.amount_of_days.label }}
				</div>
				<!-- Submit -->
				<p class="text-center">{{ form.submit(class="btn btn-outline-warning") }}</p>
			</form>
		</div>
	</div>
</section>

<!-- <div class="container">
	<div class="row">
		<div class="col-12">
			<h1 class="my-3 text-center">Изменение настроек</h1>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-sm-12 col-md-4 pt-3">

			<form action="" method="post">
				{{ form.hidden_tag() }}

				{% for field in form if field.name not in ['csrf_token', 'submit'] %}
				<div class="mb-3">
					{{ field.label(class='form-label') }}<br>
					{{ field(class='form-control')}}<br>

					{% for error in field.errors %}
					<span style="color: red;">{{ error }}</span>
					{% endfor %}
				</div>
				{% endfor %}

				<div class="text-center mb-3">{{ form.submit(class="btn btn-primary") }}</div>
			</form>
		</div>
	</div>
</div> -->

{% endblock app_content %}

{% block scripts %}
{{ super() }}

<script src="{{ url_for('static', filename='js/from-local-to-UTC.js') }}"></script>

<script>
	document.getElementById('begin_of_the_day').value = moment({{ begin_of_the_day| tojson | safe }}).format('HH:mm');
	document.getElementById('end_of_the_day').value = moment({{ end_of_the_day| tojson | safe }}).format('HH:mm');
</script>

{% endblock scripts %}