{% extends 'base.html' %}

{% block app_content %}

<section>
	<div class="form-box">
		<div class="form-value">

			<form action="" method="post" name="main">
				{{ form.hidden_tag() }}

				<h2>Редактирование<br>настроек</h2>

				<!-- Email -->
				<div class=" inputbox">
					<i class="bi bi-envelope"></i>
					{{ form.email() }}
					{{ form.email.label }}
				</div>

				{% for error in form.email.errors %}
				<span class="error">{{ error }}</span>
				{% endfor %}
				<!-- Begin of the day -->
				<div class="inputbox">
					{{ form.begin_of_the_day() }}
					{{ form.begin_of_the_day.label(class="time") }}
				</div>
				<!-- End of the day -->
				<div class="inputbox">
					{{ form.end_of_the_day() }}
					{{ form.end_of_the_day.label(class="time") }}
				</div>
				<!-- Amount of days -->
				<div class="inputbox">
					<i class="bi bi-calendar2-check"></i>
					{{ form.amount_of_days() }}
					{{ form.amount_of_days.label }}
				</div>
				<!-- Submit -->
				<p class="text-center">{{ form.submit(class="btn btn-outline-warning") }}</p>
			</form>
		</div>
	</div>
</section>

{% endblock app_content %}

{% block scripts %}
{{ super() }}

<script src="{{ url_for('static', filename='js/from-local-to-UTC.js') }}"></script>

<script>
	const mainForm = document.forms.main
	const mainFormBegin = mainForm.begin_of_the_day
	const mainFormEnd = mainForm.end_of_the_day
	Array.from([mainFormBegin, mainFormEnd]).forEach(function (item) {
		let list_time = item.value.split(':');
		item.value = moment().utc().set({ 'hour': list_time[0], 'minute': list_time[1] }).local().format('HH:mm');
	});
</script>

{% endblock scripts %}