{% extends 'base.html' %}

{% block app_content %}

<section>
	<div class="form-box">
		<div class="form-value">

			<form action="" method="post" name="main">
				{{ form.hidden_tag() }}

				<h2>Редактирование<br>настроек</h2>
				<!-- Begin of the day -->
				<div class="inputbox">
					{{ form.begin_of_the_day() }}
					{{ form.begin_of_the_day.label(class="time") }}
				</div>
				<!-- End of the day -->
				<div class="inputbox">
					{{ form.end_of_the_day() }}
					{{ form.end_of_the_day.label(class="time") }}
				</div>
				<!-- Amount of days -->
				<div class="inputbox">
					<i class="bi bi-calendar2-check"></i>
					{{ form.amount_of_days() }}
					{{ form.amount_of_days.label }}
				</div>
				<!-- Submit -->
				<p class="text-center">{{ form.submit(class="btn btn-outline-warning") }}</p>
			</form>
		</div>
	</div>
</section>

{% endblock app_content %}

{% block scripts %}
{{ super() }}

<script src="{{ url_for('static', filename='js/from-UTC-to-local.js') }}"></script>
<script src="{{ url_for('static', filename='js/from-local-to-UTC.js') }}"></script>

{% endblock scripts %}