{% extends 'base.html' %}

{% block app_content %}

<div class="container">
	<div class="row py-3 text-center">
		<div class="col-12">
			<h1 class="mb-3">Сервис</h1>
			<p class="text-center mb-1">Скопируйте ссылку, чтобы поделиться</p>
			<div>
				<a href="{{ url_for('reserve.choose_service', user_id=current_user.id) }}" id="link_copy">
					{{ url_for('reserve.choose_service', user_id=current_user.id, _external=True) }}</a>
				<button class="btn" title="Нажмите, чтобы скопировать ссылку" onclick="copyLinkToClipboard()"
					data-toggle="tooltip">
					<i class="bi bi-clipboard2" id='i-link' style="color: white;"></i>
				</button>
			</div>

			<ul>
				{% for service in current_user.services %}
				<li class="mb-0 p-0 alert alert-dismissible text-start">
					<h4>{{ service.title }}</h4>
					{% if service.description %}
					<p>{{ service.description }}</p>
					{% endif %}
					<p>
						<i class="bi bi-clock"></i> {{ service.str_duration }} <i class="bi bi-wallet2"></i> {{ service.price }}
						грн.
					</p>
					<a class="btn btn-outline-success"
						href="{{ url_for('main.update_service', service_id=service.id) }}">Редактировать</a>
					<a class="btn btn-outline-danger"
						href="{{ url_for('main.delete_service', service_id=service.id) }}">Удалить</a>
					<hr>
				</li>
				{% endfor %}
			</ul>

			<a class="btn btn-outline-success" href="{{ url_for('main.create_service') }}">Добавить услугу</a>
		</div>
	</div>
</div>

{% endblock app_content %}

{% block scripts %}
{{ super() }}

<script>
	function copyLinkToClipboard() {
		navigator.clipboard.writeText(document.querySelector('#link_copy').innerText);
		btnCopy = document.querySelector('#i-link')
		btnCopy.className = "bi bi-check";
		setTimeout(() => { btnCopy.className = "bi bi-clipboard2" }, 500);
	}
</script>

{% endblock scripts %}