{% extends 'base.html' %}

{% block app_content %}

<section>
	<div class="form-box">
		<div class="form-value">

			<form action="" method="post">
				{{ form.hidden_tag() }}

				<h2>Редактирование<br>услуги</h2>
				<!-- Title -->
				<div class="inputbox">
					<i class="bi bi-brush-fill"></i>
					{{ form.title() }}
					{{ form.title.label }}
				</div>
				<!-- Price -->
				<div class="inputbox">
					<i class="bi bi-cash"></i>
					{{ form.price() }}
					{{ form.price.label }}
				</div>
				
				{% for error in form.price.errors %}
				<span style="color: red;">{{ error }}</span>
				{% endfor %}
				<!-- Duration -->
				<div class="inputbox">
					<i class="bi bi-hourglass"></i>
					{{ form.duration() }}
					{{ form.duration.label }}
				</div>

				{% for error in form.duration.errors %}
				<span style="color: red;">{{ error }}</span>
				{% endfor %}
				<!-- Description -->
				<div class="mb-4">
					{{ form.description(class="form-control bg-black text-white", placeholder="Описание услуги...", cols="30", rows="4") }}
				</div>

				{% for error in form.description.errors %}
				<span class="error">{{ error }}</span>
				{% endfor %}
				<!-- Submit -->
				<p class="text-center">{{ form.submit(class="btn btn-outline-warning") }}</p>
			</form>
		</div>
	</div>
</section>

{% endblock app_content %}